*{
	margin: 0px;
	padding: 0px;
}
.top{
	height: 50px;
	width: 100%;
	background-color: #41444c;
}
.top-text{
	width: 80%;
	height: 50px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
}
#toptext1{
	color: white;
	font-size: 30px;
	position: relative;
	left: 0px;
	top:4px;
}
#toptext2{
	color: white;
	font-size: 12px;
	position: relative;
	top:10px;
}
.header{
	height: 80px;
	width: 100%;
	display: flex;
}
.header-text{
	display: flex;
	justify-content: space-between;
	width: 80%;
	height: 80px;
	margin:auto auto;
}
#logo1{
	width:270px ;
}
.text-rigth{
	float: right;
}
.ulstyle{
	width: 300px;
	height: 100%;
	display: flex;
}
.listyle{
	width: 80px;
	margin: auto auto;
}
a{
	text-decoration:none;
	font-weight: 1000;
	color: #727280;
	
}
a:hover{
	color: #027280;
}
li{list-style-type:none}
.mid{
	height:400px;
	width: 100%;
	background-image:url(background1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.foot{
	height: 1000px;
}
.show{
	height: 400px;
	width: 100%;
}
.pic-show{
	margin-top: 60px;
	margin-left: 20px;
	width: 540px;
	padding: 8px 8px 8px 8px;
	background-color: white;
	transform: rotate(-10deg);
	transition-property: all;
	transition-duration: 0.8s;
	border:2px solid #e4e4e4;
	border-radius:25px;
}

.pic-show:hover{
	transform: rotate(0deg);
	box-shadow: 10px 10px 10px 0px gray;
}
.pic-show2{
	margin-top: 60px;
	margin-left: 200px;
	width: 540px;
	padding: 8px 8px 8px 8px;
	background-color: white;
	transform: rotate(10deg);
	transition-property: all;
	transition-duration: 0.8s;
	border:2px solid #e4e4e4;
	border-radius:25px;
}

.pic-show2:hover{
	transform: rotate(0deg);
	box-shadow: 10px 10px 10px 0px gray;
}
body{
	 min-width: 1200px;
}